*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}
body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 0.2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

/* unvisited link */
a:link {
  font-weight: bolder;
  color:  #999999;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #999999;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #4da6ff;
  text-decoration: none;
}

/* selected link */
a:active {
  color:  #696969;
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  font-weight: normal !important;
  font-size: small;
  text-align: center;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
  
  text-decoration: none;
  transition: all 0.3s
}

.btn:hover {
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  color: inherit
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  ul.cards {
    max-width: 1200px;
  }
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; /* Safari */
  display: flex;
  padding: 0.5rem;
  -webkit-flex: 0 0 1;  /* Safari 6.1+ */
  -ms-flex: 0 0 1;  /* IE 10 */    
  flex: 0 1 100%
}


@media screen and (min-width: 480px) {
  .cards__item {
    flex: 0 1 50%
  }
  body {
    padding: 0.5rem 
  }
}

@media screen and (min-width: 768px) {
  .cards__item {
    flex: 0 1 33.3333%
  }
  body {
    padding: 1rem
  }
}

.card {
  background-color: white;
  border-radius: 0rem;
  box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex: 1 1 auto;  /* Safari 6.1+ */
  -ms-flex: 1 1 auto;  /* IE 10 */    
  flex: 1 1 auto;
  overflow: hidden;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  -webkit-filter: contrast(91%);
          filter: contrast(91%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}

.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.card__image--phd {
  background-image: url(../img/phd.png)
}

.card__image--paper {
  background-image: url(../img/paper.png)
}

.card__image--msc {
  background-image: url(../img/msc.png)
}

.card__image--bsc {
  background-image: url(../img/bsc.png)
}

.card__image--slides-derivation {
  background-image: url(../img/slides-derivation.png)
}

.card__image--slides-aggregation {
  background-image: url(../img/slides-aggregation.jpg)
}

.card__image--tm-turtle {
  background-image: url(../img/tm-turtle.png)
}

.card__image--fractal {
  background-image: url(../img/fractal.jpg)
}

.card__image--qttt {
  background-image: url(../img/qttt.png)
}

.card__image--pzapp {
  background-image: url(../img/pzapp.jpg)
}

.card__image--tm2md {
  background-image: url(../img/tm2md.jpg)
}

.card__image--clong {
  background-image: url(../img/clong.png)
}

.card__image--mastermind {
  background-image: url(../img/mastermind.jpg)
}

.card__image--graph {
  background-image: url(../img/graph.jpg)
}

.card__image--elmox {
  background-image: url(../img/elmox.png)
}

.card__image--thissite {
  background-image: url(../img/thissite.png)
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
